<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name = "viewport" content="width=device-width, initial scale=1" />
    <title>Ye Olde Bookshelf</title>

</head>


    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      crossorigin="anonymous"
    />




<body>
<h1 align="center"><em>Ye Olde Bookshelf</em></h1>
    <form align="center" action="/test/" method ="post">
        <button name="All Books Sorted by Cost" type="submit">All Books Sorted by Cost</button>
        <h6>Books Followed by Cost</h6>
    </form>

    <form align="center" action="/test2/" method ="post">
        <button name="Number of Each Genre" type="submit">Number of Each Genre</button>
        <h6>Genre Followed by Number in that Genre</h6>
    </form>

    <form action="/test3/" method ="post">
        <button name="Poetry books that Cost more than Average" type="submit">Poetry books that Cost more than Average</button>
    </form>

    <form action="/test4/" method ="post">
        <button name="Number of Books for Each Author" type="submit">Number of Books for Each Author</button>
    </form>

    <form action="/test5/" method ="post">
        <button name="Number of Authors for Each Publisher" type="submit">Number of Authors for Each Publisher</button>
    </form>

    <form action="/test6/" method ="post">
        <button name="Total Value of Books for Each Author" type="submit">Total Value of Books for Each Author</button>
    </form>

    <form action="/test7/" method ="post">
        <button name="Author with the Most Books" type="submit">Author with the Most Books</button>
    </form>


    <form action="/test8/" method ="post">
        <button name="Year with the Most Books" type="submit">Year with the Most Books</button>
    </form>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
        <table>
            <tr>{{ message }}</tr>
        </table>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
{% block body %}{% endblock %}


    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>



</body>
</html>